@import "colors";

.footer {
	background: $darkBrown;
	color:white;

	.content {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top:70px;
		padding-bottom:60px;
	}

	li {
		transition:color .3s;

		&:hover {
			color:$yellow;
		}
	}
}

.footer-titles {
	width:100%;
	height:auto;
	max-height:160px;
	text-align: center;

	h2 {

	}
}

.footer-image {
	width:100%;
	max-width:140px;
	margin:0 auto 30px auto;

	img {
		width:100%;
		height:auto;
	}
}

.footer-contact {
	width:100%;
	text-align: center;
}

.footer-social {
	margin-top:50px;
	width:100%;
	text-align: center;

	li {
		font-size:34px;
		display: inline-block;
		margin:0 1%;
	}
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.footer {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.footer {
		
	}
}