@import "colors";

#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	display: flex;
	justify-content:center;
	align-items:center;
	color:$yellow;
	font-size:200px;
	z-index: 999999999999999999999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #E6EAED; 

	img {
		height:auto;
		width:30vw
	}
}

.header {
	position: fixed;
	width:100%;
	height:200px;
	font:400 12px/19px sans-serif;
	background: $lightGrey;
	z-index:999;

	.content {
		height:100%;
		padding-top:15px;
		padding-bottom:20px;
		justify-content: space-between;

	}
}

/*THIS IS A HIDDEN LINK FOR PUTTING LOGO IN NAV*/
.logo-holder {
	display: none;
}

.main-nav {
	width:100%;
	height:auto;

	a {
		color:black;
		position: relative;
		z-index: 2;
	}

	ul {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	li {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height:34px;
		width:auto;
		padding:0 25px;
		font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;

    &:before {
    	transition:all .3s;
			content: " ";
    	display: block;
    	background: $lightGrey;
    	height: 2px;
    	width: 100%;
    	z-index: 99999999;
    	top: 16px;
    	position: absolute;
    	z-index: 1;
    	left: 0;
		}

		&:hover {
			 &:before {
    		height: 2px;
    		top: 16px;
    		background: $yellow;
			}
		}
	}
}

li.header-logo {
	position: relative;
	width:220px;
	height:auto;
	display: flex;
	flex-wrap: wrap;

	&:before {
  	height: 0px !important;
	}

	img {
		width:100%;
		height:auto;
		display: block;
	}

	.logo-words {
		margin-top:10px;
	}

	a {
		position: absolute;
	}

	&:hover {
		
		&:before {
    	height: 0px;
		}
	}
}

li.current-menu-item {

	&:before {
		content: " ";
    display: block;
    background: $yellow;
    height: 6px;
    width: 100%;
    z-index: 99999999;
    top: 14px;
    position: absolute;
    z-index: 1;
    left: 0;
	}
}

li.inactive-menu {

	&:before {
		background:$lightGrey;
	}
}

li.active-menu {

	&:before {
		top: 14px;
		background:$yellow;
		height: 6px;
	}
}

li.book-now-btn {
	background:$darkBrown;
	transition:all .3s;

	&:before {
  	height: 0px;
	}

	a {
		color:white;
	}

	&:hover {
		background:$yellow;

		&:before {
    	height: 0px;
		}
	}
}

.mobile-menu, .mobile-logo {
	display: none;
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.header {
		height:135px;


		.content {
			height:100%;
		}

		.main-nav {
			position: fixed;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index:1001;
			transform:translateX(100%);
			background: $lightGrey;
			padding:100px 0px 30px 0;

			ul {
				height:100%;
				flex-direction:column;
				justify-content: center;

				li {
					margin-bottom:20px;
				}
			}
		}
	}

	.mobile-menu {
		cursor: pointer;
		display: block;
		position: relative;
		z-index:1010;
		display: flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
		width:30px;
		height:26px;

		span {
			background:$darkBrown;
			height:3px;
			width:100%;
		}
	}

	li.header-logo {
		display: none;
	}

	.mobile-logo {
		position: relative;
		z-index:1002;
		display: block;
		width:100px;
		height:auto;
	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.header {
		height:100px;
	}

	.mobile-logo {
		width:70px;
		height:auto;
	}
}